<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-goal-heading">Create or edit a Goal</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!goal.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="goal.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <input type="text" class="form-control" name="category" id="field_category"
                        [(ngModel)]="goal.category" required/>
                    <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.category?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trackingMethod">Tracking Method</label>
                    <select class="form-control" name="trackingMethod" [(ngModel)]="goal.trackingMethod" id="field_trackingMethod"  required>
                        <option value="DATA_COLLECTION">DATA_COLLECTION</option>
                        <option value="WORK_SAMPLES">WORK_SAMPLES</option>
                    </select>
                    <div [hidden]="!(editForm.controls.trackingMethod?.dirty && editForm.controls.trackingMethod?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.trackingMethod?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_objective">Objective</label>
                    <input type="text" class="form-control" name="objective" id="field_objective"
                        [(ngModel)]="goal.objective" required/>
                    <div [hidden]="!(editForm.controls.objective?.dirty && editForm.controls.objective?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.objective?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_masteryCriteria">Mastery Criteria</label>
                    <input type="text" class="form-control" name="masteryCriteria" id="field_masteryCriteria"
                        [(ngModel)]="goal.masteryCriteria" required/>
                    <div [hidden]="!(editForm.controls.masteryCriteria?.dirty && editForm.controls.masteryCriteria?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.masteryCriteria?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
